.App {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  /* Frame style */

  border: 8px solid #444; /* thick dark border like a frame */
  box-sizing: border-box; /* so padding + border fits inside width */
}

h1 {
  text-align: center;
  color: #333;
}

form input {
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

form button {
  padding: 0.5rem 3.5rem;
  font-size: 1rem;
  background-color: #35d2fa;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #00ccff;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #ddd;
}

.expense-item button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expense-item button:hover {
  background-color: #a71d2a;
}

.total {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  text-align: right;
  color: #0c0c0c;
}

.price {
  color: rgb(24, 148, 24);
  font-weight: 600;
}
